
<header>
<p> This is our Gossip Project Header </p>
</header>
</br>

<h1> &#9760; NOTRE TEAM &#9760;</h1>
<li> JB le teubé</li>
<li> Gillian le sacré pan</li>
<li> Maeva la chipolata</li>
<li> Dylan le bichon maltais</li>
<li> Yann le pirate</li>

</br>
</br>
<%= link_to "LES MOUSSAILLONS DU CODE", "https://yannguiot.000webhostapp.com/Moussaillons/index.html" %>
</br>
</br>
<%= link_to "Nous contacter", "/contact" %>